spring:
  datasource:
    url: ${DB_URL:?DB_URL is required}
    username: ${DB_USERNAME:?DB_USERNAME is required}
    password: ${DB_PASSWORD:?DB_PASSWORD is required}

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  main:
    banner-mode: off

server:
  error:
    include-stacktrace: never
    include-message: never

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

logging:
  level:
    root: WARN
    com.vimaltech.contactapi: INFO
    org.springframework: WARN
    org.hibernate: WARN