spring:
  application:
    name: contact-api

  datasource:
    url: jdbc:h2:mem:contactdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
